services:

  db:
    container_name: postgresql_db
    image: postgres:17
    restart: always 

    volumes:
      - ./data/db:/var/lib/postgresql/data

    environment:
      POSTGRES_USER: utilisateur
      POSTGRES_PASSWORD: pwd
      POSTGRES_DB: mabellebase
    ports:
      - "5432:5432"
    networks:
      app_net:
        ipv4_address: 192.168.0.2  

  pgadmin:
    container_name: pgadmin4
    image: dpage/pgadmin4
    restart: always
    depends_on:
      - db
    volumes:
      - ./data/pgadmin-data:/var/lib/pgadmin

    environment:
      PGADMIN_DEFAULT_EMAIL: root@root.com
      PGADMIN_DEFAULT_PASSWORD: root
      # PGADMIN_LISTEN_PORT = 80
    ports:
      - "5050:80"
    networks:
      app_net:
        ipv4_address: 192.168.0.3
    
networks:
  app_net:
    ipam:
      driver: default
      config:
        - subnet: "192.168.0.0/24"
          gateway: 192.168.0.1